<h1>Login to continue</h1>

<div class="session-wrapper">
  <%= form_with(scope: :session, url: login_path, local: true) do |f| %>
    <div class="task">
      <%= f.label :username %>
      <%= f.text_field :username, autofocus: true, placeholder:"Enter username" %>
    </div>
    <div class="task">
      <%= f.label :password %>
      <%= f.password_field :password, placeholder:"Enter password" %>
    </div>
    <div class="btn"><%= f.submit "Log In" %></div>
  <% end %>
</div>

<div class="btn">
  <%= link_to "Signup", signup_path %>
</div>
