<h1><%= header %></h1>

<%= form_with(model: @user, local: true ) do |form| %>
<% if @user.errors.any? %>
<div id="error_explanation">
  <h2><%= @user.errors.count %> There are errors. </h2>
    <% @user.errors.full_messages.each do |msg| %>
    <%= msg %>
    <% end %>
</div>
<% end %>
<div id="wrapper">
  <div class="task">
    <%= form.label :username %> <br>
    <%= form.text_field :username %>
  </div>
  <div class="task">
    <%= form.label :email %> <br>
    <%= form.email_field :email %>
  </div>
  <div class="task">
    <%= form.label :password %> <br>
    <%= form.password_field :password %>
  </div>
  <div class="task">
    <%= form.label :password_confirmation %> <br>
    <%= form.password_field :password_confirmation %>
  </div>
  <div class="submit">
    <%= form.submit %>
  </div>
</div>
<% end %>
