<div class="container">
  <h1>User List</h1>

  <div id="task_list">
    <table class="table">
      <tr>
        <th class="left">ID</th>
        <th class="left">Username</th>
        <th class="left">Email</th>
        <th class="left">Posts</th>
        <th colspan=3>Actions</th>
      </tr>
      <% @users.each do |user| %>
      <tr>
        <% if logged_in? && (user == current_user ||  current_user.admin?) %>
          <td><%= user.id %></td>
          <td><%= user.username %></td>
          <td><%= user.email %></td>
          <td><%= user.tasks.count %></td>
          <td class="action"><%= link_to 'Show', user_path(user) %></td>
          <td class="action"><%= link_to 'Edit', edit_user_path(user) %></td>
          <td class="action"><%= link_to 'Delete', user_path(user),
                              method: :delete,
                              data: {confirm:'Are you sure you want to delete? '} %> </td>
        <% end %>
      </tr>
      <% end %>
    </table>
  </div>
  <% if current_user.admin? %>
    <h3>
      <%= will_paginate @users %>
    </h3>
  <% end %>
</div>
