<h1>Showing User Details</h1>

<p><strong>Username: </strong><%= @user.username %></p>
<p><strong>Email: </strong><%= @user.email %></p>
<p>
  <% if @user.tasks.count == 1 %>
    <%= "#{@user.tasks.count} task" %>
  <% else %>
    <%= "#{@user.tasks.count} tasks" %>
  <% end %>
</p>
<%= link_to 'Home', tasks_path %> |
<%= link_to 'Edit', edit_user_path(@user)%> |
<%= link_to 'Delete', user_path(@user), method: :delete,
    data: { confirm: "Are you sure?" }%>

<% if @tasks.present? %>
  <h2>Tasks</h2>
  <div id="task_list">
    <table class="table">
      <tr>
        <th class="left">ID</th>
        <th class="left">Name</th>
        <th class="left">Detail</th>
        <th class="left">Expired at</th>
        <th class="left">Status</th>
        <th class="left">Priority</th>
        <th colspan=3>Actions</th>
      </tr>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= task.id %></td>
          <td><%= task.name %></td>
          <td><%= task.detail %></td>
          <td><%= task.expired_at %></td>
          <td><%= task.status %></td>
          <td><%= task.priority_type %></td>
          <td class="action"><%= link_to 'Show', task_path(task) %></td>
          <td class="action"><%= link_to 'Edit', edit_task_path(task) %></td>
          <td class="action"><%= link_to 'Delete', task_path(task),
                              method: :delete,
                              data: {confirm:'Are you sure you want to delete? '} %> </td>
        </tr>
      <% end %>
    </table>
  </div>
  <h3>
    <%= will_paginate @tasks %>
  </h3>
<% end %>
